<%= link_to("<< Back to List", {:controller => 'books', :action => 'HomePage'}, :class => 'back-link') %>

<div class="books show">
  <h2>Show book</h2>

  <table summary="book detail view">
    <tr>
      <th>Name</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @book.genre %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
    <tr>
      <th>Date Published</th>
      <td><%= @book.published_date %></td>
    </tr>
    <tr>
      <th>Entry Created</th>
      <td><%= @book.created_at %></td>
    </tr>
    <tr>
      <th>Entry Updated</th>
      <td><%= @book.updated_at %></td>
    </tr>
  </table>

</div>
