<%= link_to("<< Back to List", {:controller => 'books', :action => 'HomePage'}, :class => 'back-link') %>

<div class="books update">
  <h2>Update book</h2>

  <%= form_for(@book) do |f| %>

    <table summary="book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select(:genre, ['mystery','romance','action','adventure','fantasy','sci fi','nonfiction'])%></td>
      </tr>
       <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Date Published</th>
        <td><%= f.datetime_select(:'published_date', :start_year => 1450, :order => [:day, :month, :year], :discard_hour => true) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update book") %>
    </div>

  <% end %>
</div>
